<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjjM1okWNEM9Ahec7U0PEj8pM5-6ye-uA</string>
	<key>GCM_SENDER_ID</key>
	<string>449686849785</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tableTapAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tabletap-45899</string>
	<key>STORAGE_BUCKET</key>
	<string>tabletap-45899.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449686849785:ios:c732cadc19154e4ab2fa28</string>
</dict>
</plist>